[data-md-color-primary="custom"] {
  --md-primary-fg-color: #AEEED3;
  --md-primary-fg-color--dark: var(--md-primary-fg-color);
  --md-primary-bg-color: #39846a;
  --md-primary-bg-color--light: var(--md-primary-bg-color);
  --md-accent-fg-color: var(--md-typeset-a-color);
  --md-accent-fg-color--transparent: #AEEED31A;
}

[data-md-color-scheme="default"] {
  --md-typeset-a-color: var(--md-primary-bg-color);
}

[data-md-color-scheme="slate"] {
  --md-typeset-a-color: var(--md-primary-fg-color);
}
